/* Colors
Fondo #F9F8F8
MenuSelected #89023E
NavBar #EAE6E5
Fuente primaria #12130F

VIOLETA #836FFF
VERDE #15F5BA
GRIS #F0F3FF
VIOLETA OSCURO #211951*/

/* Fuentes
Principal font-family: "Raleway", sans-serif;
Secundaria font-family: "Sora", sans-serif;
font-family: "Space Grotesk", sans-serif;

 */


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F0F3FF;
    color: #211951;
    font-family: "Space Grotesk", sans-serif;
}

.loading-scroll {
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color:#211951;;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

header .navBar {
    display: none;
}

header .navBarMobile {
    background-color: #F0F3FF;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
}

/*flex brand */
header .navBarMobile .brand {
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
}

header .navBarMobile .brand img {
    width: 50px;
}

/*Menu toggle*/
#toggle {
    width: 28px;
    height: 30px;
    margin-left: auto;
    padding: 12px;
    background-color: #F0F3FF;
}

#toggle div {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #211951;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
    z-index: 9999;
    position: sticky;
}

#toggle .one, #toggle .three {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}


#toggle.on .one {
    transform: rotate(45deg) translate(4px, 4px);
    width: 100%;
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
    width: 100%;
}

.itemMenuFooter {
    display: none;
}

/* estilos MENÚ CELULAR*/


header .navBarMobile .menuCelu {
    background-color: #F0F3FF;

    width: 100%;
    height: 70vh;
    padding: 10px;

    line-height: 70px;
    text-align: left;

    margin: auto;
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    z-index: 99999;
}

header .navBarMobile .menuCelu.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

header .navBarMobile .menuCelu .itemMenuCelu {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #211951;
}

header .navBarMobile .menuCelu .itemMenuCelu:hover {
    border-bottom: 2px solid #211951;
    margin-top: 1px;
}

header .navBarMobile .menuCelu .socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

header .navBarMobile .menuCelu .socialMedia a {
    color: #12130F;
    text-decoration: none;
}

header .navBarMobile .menuCelu .socialMedia a:hover {
    font-size: 20px;
    transition: .3s ease-in-out;
}

section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    color: #F2F0FD;
}

.seccionPrimera {
    background-color: #5B43F1;

}

.seccionSegunda {
    background-color: #3E24DE;
}

.seccionTercera {
    background-color: #3B27B1;
}

.seccionCuarta {
    background-color: #37298D;
}

.seccionQuinta {
    background-color: #332971;
}

/* Entre 992px y 1199px */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 992px) {

    header .navBarMobile {
        display: none;
    }

    .navBar .brand img {
        padding-left: 20px;
        width: 100px;
    }

    header .navBar {
        /* organización del contenido */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* Coloca el navBar en la parte superior de la ventana */
        width: 100%;

        /* estilos del contenido */
        background-color: #F0F3FF;
        height: 50px;
    }

    header .navBar.fixed {
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        background-color: #15F5BA;
        z-index: 4444;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        animation: slideDown 0.7s ease;
        backdrop-filter: blur(10px);
    }

    header .navBar .itemsNavBar {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;

    }

    header .navBar .itemsNavBar .itemMenu {
        text-decoration: none;
        color: #211951;
        display: inline;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 15px;
        ;
    }

    header .navBar.fixed .itemMenu {
        color: #211951;
        font-weight: 600;
    }

    header .navBar .itemsNavBar .itemMenu:hover {
        border-bottom: 2px solid #211951;
        margin-top: 1px;
        /* Añade una línea debajo en el estado de hover */
    }

    header .navBar .itemsNavBar .itemMenu a:focus {
        border-bottom: 2px solid #211951;
    }

}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}