/* Colors
Fondo #F9F8F8
MenuSelected #89023E
NavBar #EAE6E5
Fuente primaria #12130F

VIOLETA #836FFF
VERDE #15F5BA
GRIS #F0F3FF
VIOLETA OSCURO #211951*/

/* Fuentes
Principal font-family: "Raleway", sans-serif;
Secundaria font-family: "Sora", sans-serif;
font-family: "Space Grotesk", sans-serif;

 */


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F0F3FF;
    color: #211951;
    font-family: "Space Grotesk", sans-serif;
}

header .navBar {
    display: none;
}

header .navBarMobile {
    background-color: #EAE6E5;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    }

/*flex brand */
header .navBarMobile .brand {
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
}

header .navBarMobile .brand img {
    width: 120px;
}

/*Menu toggle*/
#toggle {
    width: 28px;
    height: 30px;
    margin-left: auto;
    padding: 12px;
    background-color: #EAE6E5;
}

#toggle div {
    width: 100%;
    height: 5px;
    background: #12130F;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
    z-index: 9999;
    position: sticky;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}

.itemMenuFooter {
    display: none;
}

/* estilos MENÚ CELULAR*/


header .navBarMobile .menuCelu {
    background-color: #EAE6E5;

    width: 100%;
    height: 70vh;
    padding: 10px;

    line-height: 70px;
    text-align: left;

    margin: auto;
    display: none;
    z-index: 99999;
    
}

header .navBarMobile .menuCelu .itemMenuCelu {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #12130F;
}

header .navBarMobile .menuCelu .itemMenuCelu:hover {
    color: grey;
    border-bottom: 2px solid #89023E;
    margin-top: 1px;
    }

header .navBarMobile .menuCelu .socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

header .navBarMobile .menuCelu .socialMedia a {
    color: #12130F;
    text-decoration: none;
}

header .navBarMobile .menuCelu .socialMedia a:hover {
    font-size: 20px;
    transition: .3s ease-in-out;
}

section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    color: #BBB5BD;
}

.seccionPrimera {
    background-color: #909CC2;

}

.seccionSegunda {
    background-color: #478978;
}

.seccionTercera {
    background-color: #F58A07;
}

.seccionCuarta {
    background-color: #DA4167;
}

.seccionQuinta {
    background-color: #083D77;
}

/* Entre 992px y 1199px */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 992px) {

    header .navBarMobile {
        display: none;
    }

    .navBar .brand img {
        width: 150px;
    }

    header .navBar {
        /* organización del contenido */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        top: 0;
        /* Coloca el navBar en la parte superior de la ventana */
        width: 100%;
        z-index: 1000;
        /* Asegura que esté por encima de otros elementos */

        /* estilos del contenido */
        background-color: #EAE6E5;
        height: 80px;
    }

    header .navBar .itemsNavBar {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;

    }

    header .navBar .itemsNavBar .itemMenu {

        padding-top: 10px;
        text-decoration: none;
        color: #12130F;
        display: inline;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 16px;
        position: relative;
    }

    header .navBar .itemsNavBar .itemMenu:hover {
        color: grey;
        border-bottom: 2px solid #89023E;
        margin-top: 1px;
        
        /* Añade una línea debajo en el estado de hover */
    }

}